@use 'variables' as v;
@use 'mixin' as m;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    max-width: 1773px; 
    width: 100%;
}

/* Header */
.header {
    background-image: url(/images/header/mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 820px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__search {
    max-width: 37%; /*653px*/
    width: 100%;
    border: 0.125rem solid v.$font-color; /*2px*/
    margin: 2% 0; /*50px*/


    input {
        @include m.font-one($size:0.875rem, $letter:0.175rem); /*14px, 2.8px*/
        max-width: 75%;
        width: 100%;
        min-height: 63px;
        float: left;
        text-align: center;
        color: #999999;
    }

    button {
        @include m.font-two($size:0.875rem, $letter:0.088rem); /*14p, 1.4pxx*/
        @include m.button-style;
        max-width: 25%;
        width: 100%;
        min-height: 63px;
        justify-content: space-between;

            i {
                margin-left: 7%;
            }
    }
}

.header__scroll {
    @include m.font-one($size:0.875rem, $letter:0.175rem); /*14px, 2.8px*/
    max-width: 10%; /*108px*/
    width: 100%;
    height: 46px;
    text-align: center;
    margin-top: 8%;

    a {
        text-decoration: none;
        color: v.$font-color;
    }
}

.header__bottomnav {
    background-color: v.$primary-color;
    width: 100%;
    min-height: 10%; /*83px*/
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .bottomnav--logo {
        flex: 1;
        text-align: center;
    }
    
    .bottomnav--links {
        flex: 1;
        margin-left: 2%;

        a {
            @include m.font-two($size:0.875rem);
            text-decoration: none;
            color: v.$font-color;
            text-transform: uppercase;
            padding-left: 3%;
        }
    }
}

/* Section - why choose us */
.explore {
    width: 100%;
    height: 685px;
    background-image: url(/images/whyus/castle-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.explore__content {
    max-width: 32%; /*560px*/
    width: 100%;
    height: 51%; /*350px*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        @include m.font-two($size:2.25rem); /*36px*/
        color: v.$font-color;
    }

    p {
        @include m.font-one;
        color: #E8E8E8;
    }

    button {
        @include m.button-style;
        @include m.font-two;
    }
}

.explore__img {
    max-width: 40%;
    width: 100%;
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2%; /*10px*/

    .explore__img--one {
        grid-area: 1/2/2/5;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .explore__img--two {
        grid-area: 2/3/3/6;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Section - how it works */
.howitworks {
    width: 100%;
    height: 340px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .howitworks__background {
        background-image: url(/images/bounce.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        max-width: 45%;
        min-height: 80%; /*170px*/
        width: 100%;
        position: absolute;
        z-index: 0;
        left: 27%;
    }

    .howitworks__illustration {
        max-width: 57%; /*1050px*/
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 80%; /*170px*/
        
        .howitworks__icons {
            display: flex;
            flex-direction: column;
            @include m.font-two($size:2.25rem); /*36px*/
            color: v.$font-color;
            align-items: center;
            justify-content: space-evenly;
            z-index: 1;
                
            img {
                background-color: #333333;
            }
        }
    }
}

/* Section -- book now */
.destination {
    height: 1400px;
}

.destination__content {
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .destination--text {
        color: v.$font-color;
        background-color: #232323;
        opacity: 0.9;
        max-width: 31%; /*540px*/
        width: 100%;
        min-height: 55%; /*371px*/
        padding: 3% 2%; /*50px 30px*/

        h4 {
            @include m.font-one($size:1.25rem); /*20px*/
        }

        h5 {
            @include m.font-one($size:1.25rem); /*20px*/
            text-transform: uppercase;
            margin-top: 6%; /*23px*/
        }

        p {
            @include m.font-one;
            margin-top: 3%; /*13px*/
        }

        button {
            @include m.button-style;
            @include m.font-two;
            margin-top: 10%; /*46px*/
        }
    }

    .empty {
        visibility: hidden;
    }
}

.hotel-one {
    background-image: url(/images/section/madrid-house.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 50%;

    .destination--text {
        transform: translateY(10%); /*64px*/
    }
}

.hotel-two {
    background-image: url(/images/section/madrid-cliff.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;

    .destination--text {
        transform: translateY(10%); /*64px*/
    }
}

/* Section: testimonial */
.testimonial {
    width: 100%;
    height: 731px;
    background-image: url(/images/testimonial/backpacker-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial__title {
    h2 {
        @include m.font-two($size:2.25rem); /*36px*/
        color: v.$font-color;
    }
}

.testimonial__content {
    background-color: #333333;
    max-width: 63%; /*1113px*/
    width: 100%;
    display: flex;

    .testimonial__img {
        flex: 2;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .testimonial__quote {
        color: v.$font-color;
        margin: 5% 1% 4% 8%; /*50px 25px 40px 60px*/
        flex: 3;
    
        h4 {
            @include m.font-one($size:1.25rem); /*20px*/
                text-transform: uppercase;
        }
    
        p {
            @include m.font-one;
        }
    
        .quote {
            color: v.$primary-color;
            font-size: 2.25rem;
        }
    }
}

/* footer */
.footer {
    max-width: 100%;
    height: 271px;
    background-color: #232323;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer__logo {
    max-width: 15%; /*196px*/
    
    img {
        width: 100%;
        transform: translateX(-3%);
    }

    p {
        @include m.font-one;
        color: v.$font-color;
        padding-top: 8%;
    }
}

.footer__social {
    max-width: 10%; /*166px*/
    width: 100%;
    min-height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: v.$font-color;
    }

    .fa-linkedin-in {
        color: v.$primary-color;
    }
}

/* MEDIA QUERIES*/
@media screen and (max-width:1115px) {
    body {
        max-width: 1115px; 
        width: 100%;
    }

    .header {
        height: 1024px;
    }

    .header__search {
        max-width: 60%;
    }

    .header__scroll {
        max-width: 15%;
        width: 100%;
    }

    .header__bottomnav {
        .bottomnav--logo {
            flex: auto;
        }

        .bottomnav--links {
            flex: auto;
    
            a {
                padding-left: 2%;
            }
        }
    }
     /* why choose us for max 1115px */
    .explore__content {
        max-width: 40%;
        width: 100%;
        height: 60%;
    
        button {
            max-width: 50%;
        }
    }

    /* how it works for desktop max 1115px */
    .howitworks {
        height: 250px;
    
        .howitworks__background {
            max-width: 40%;
            left: 30%;
        }
    
        .howitworks__illustration {
            max-width: 57%; /*1050px*/
            text-align: center;
            
            .howitworks__icons {
                @include m.font-two($size:2rem);
            }
        }
    }

    /* Section: book now for max 1115px --> no changes */

    /* Section: testimonial for max 1115px */
    .testimonial {

    }
    
    .testimonial__content {
        flex-wrap: wrap;
        justify-content: center;

        .testimonial__img {
            flex: none;
        }

        .testimonial__quote {
            flex: none;
            width: 80%;
        }
    }

    /* footer for max 1115px */
    .footer {
        height: 200px;
    }

    .footer__logo {
        max-width: 25%;
        width: 100%;
    }

    .footer__social {
        max-width: 25%;
        width: 100%;
    }
}