@use 'variables' as v;
@use 'mixin' as m;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    max-width: 1773px; 
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-image: url(/images/header/mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 820px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__search {
    max-width: 37%; /*653px*/
    width: 100%;
    border: 0.125rem solid v.$font-color; /*2px*/
    margin: 2% 0; /*50px*/

    .screen--small {
        display: none;
    }

    input {
        @include m.font-one($size:0.875rem, $letter:0.175rem); /*14px, 2.8px*/
        max-width: 75%;
        width: 100%;
        min-height: 63px;
        float: left;
        text-align: center;
        color: #999999;
    }

    .search-bar {
        @include m.font-two($size:0.875rem, $letter:0.088rem); /*14p, 1.4pxx*/
        @include m.button-style;
        max-width: 25%;
        width: 100%;
        min-height: 63px;
        justify-content: space-between;

            i {
                margin-left: 7%;
            }
        
        &:hover {
            cursor: pointer;
            filter: saturate(4);
        }

        &:active {
            transform: scale(1.1);
        }
    }
}

.header__scroll {
    @include m.font-one($size:0.875rem, $letter:0.175rem); /*14px, 2.8px*/
    max-width: 10%; /*108px*/
    width: 100%;
    height: 46px;
    text-align: center;
    margin-top: 8%;

    a {
        text-decoration: none;
        color: v.$font-color;

        &:hover {
            color: #FF6363;
        }
    }
}

.header__bottomnav {
    background-color: v.$primary-color;
    width: 100%;
    min-height: 10%; /*83px*/
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .bottomnav--logo {
        flex: 1;
        text-align: center;
    }
    
    .bottomnav--links {
        flex: 1;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin-right: 20%;
        }

        a {
            @include m.font-two($size:0.875rem);
            text-decoration: none;
            color: v.$font-color;
            text-transform: uppercase;

            &:hover {
                color: v.$highlight-color;
            }
        }
    }

    .bottomnav--overlay {
        display: none;
    }

    .bottomnav--bars {
        display: none;
        cursor: pointer;
    }
}

/* Section - why choose us */
.explore {
    width: 100%;
    height: 685px;
    background-image: url(/images/whyus/castle-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.explore__content {
    max-width: 32%; /*560px*/
    width: 100%;
    height: 51%; /*350px*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        @include m.font-two($size:2.25rem); /*36px*/
        color: v.$font-color;
    }

    p {
        @include m.font-one;
        color: #E8E8E8;
    }

    button {
        @include m.button-style;
        @include m.font-two;

        &:hover {
            cursor: pointer;
            filter: saturate(4);
        }

        &:active {
            transform: scale(1.1);
        }
    }
}

.explore__img {
    max-width: 40%;
    width: 100%;
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2%; /*10px*/

    .explore__img--one {
        grid-area: 1/2/2/5;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .explore__img--two {
        grid-area: 2/3/3/6;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Section - how it works */
.howitworks {
    width: 100%;
    height: 340px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .howitworks__illustration {
        max-width: 57%; /*1050px*/
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 80%; /*170px*/
        
        .howitworks__background {
            background-image: url(/images/bounce.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center top;
            max-width: 45%;
            min-height: 80%; /*170px*/
            width: 100%;
            position: absolute;
            z-index: 0;
            left: 27%;
        }

        .howitworks__icons {
            display: flex;
            flex-direction: column;
            @include m.font-two($size:2.25rem); /*36px*/
            color: v.$font-color;
            align-items: center;
            justify-content: space-evenly;
            z-index: 1;
            text-align: center;
                
            img {
                background-color: #333333;
            }
        }
    }
}

/* Section -- book now */
.destination {
    height: 1400px;
}

.destination__content {
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .destination--text {
        color: v.$font-color;
        background-color: #232323;
        opacity: 0.9;
        max-width: 31%; /*540px*/
        width: 100%;
        min-height: 55%; /*371px*/
        padding: 3% 2%; /*50px 30px*/

        h4 {
            @include m.font-one($size:1.25rem); /*20px*/
        }

        h5 {
            @include m.font-one($size:1.25rem); /*20px*/
            text-transform: uppercase;
            margin-top: 6%; /*23px*/
        }

        p {
            @include m.font-one;
            margin-top: 3%; /*13px*/
        }

        button {
            @include m.button-style;
            @include m.font-two;
            margin-top: 10%; /*46px*/

            &:hover {
                cursor: pointer;
                filter: saturate(4);
            }
    
            &:active {
                transform: scale(1.1);
            }
        }
    }

    .empty {
        visibility: hidden;
    }
}

.hotel-one {
    background-image: url(/images/section/madrid-house.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 50%;

    .destination--text {
        transform: translateY(10%); /*64px*/
    }
}

.hotel-two {
    background-image: url(/images/section/madrid-cliff.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;

    .destination--text {
        transform: translateY(10%); /*64px*/
    }
}

/* Section: testimonial */
.testimonial {
    width: 100%;
    height: 731px;
    background-image: url(/images/testimonial/backpacker-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial__title {
    h2 {
        @include m.font-two($size:2.25rem); /*36px*/
        color: v.$font-color;
    }
}

.testimonial__content {
    background-color: #333333;
    max-width: 63%; /*1113px*/
    width: 100%;
    display: flex;

    .testimonial__img {
        flex: 2;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .testimonial__quote {
        color: v.$font-color;
        margin: 5% 1% 4% 8%; /*50px 25px 40px 60px*/
        flex: 3;
    
        h4 {
            @include m.font-one($size:1.25rem); /*20px*/
                text-transform: uppercase;
        }
    
        p {
            @include m.font-one;
        }
    
        .quote {
            color: v.$primary-color;
            font-size: 2.25rem;
        }
    }
}

/* footer */
.footer {
    max-width: 100%;
    height: 271px;
    background-color: #232323;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer__logo {
    max-width: 15%; /*196px*/
    
    img {
        width: 100%;
        transform: translateX(-3%);
    }

    p {
        @include m.font-one;
        color: v.$font-color;
        padding-top: 8%;
    }
}

.footer__social {
    max-width: 10%; /*166px*/
    width: 100%;
    min-height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: v.$font-color;

        &:hover {
            color: v.$primary-color;
        }
    }
}

/* MEDIA QUERIES*/
@media screen and (max-width:1300px) {
    body {
        max-width: 1300px; 
        width: 100%;
    }

    .header__bottomnav {
        .bottomnav--logo {
            flex: auto;
        }

        .bottomnav--links {
            flex: auto;

            ul {
                margin-right: 5%;
            }
        }
    }

    .footer {
        height: 200px;
    }

    .footer__logo {
        max-width: 25%;
        width: 100%;
        text-align: center;   
    }

    .footer__social {
        max-width: 25%;
        width: 100%;
    }
}


@media screen and (max-width:1050px) {
    body {
        max-width: 1115px; 
        width: 100%;
    }

    .header__search {
        max-width: 60%;
    }

    .header__scroll {
        max-width: 15%;
        width: 100%;
    }

     /* why choose us for max 1050px */
    .explore__content {
        max-width: 40%;
        width: 100%;
        height: 60%;
    
        button {
            max-width: 50%;
        }
    }

    .explore__img {
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;

        .explore__img--one {
            margin-bottom: 3%;
        }
    }

    /* how it works for max 1050px */
    .howitworks {
        height: 250px;
    
        .howitworks__background {
            max-width: 40%;
            left: 30%;
        }
    
        .howitworks__illustration {
            max-width: 57%; /*1050px*/
            text-align: center;
            
            .howitworks__icons {
                @include m.font-two($size:2rem);
            }
        }
    }

    /* testimonial for max 1050px */
    .testimonial__content {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80%;
        width: 100%;
        
        .testimonial__img {
            flex: none;
            min-height: 40%;
            object-fit: cover;
        }

        .testimonial__quote {
            flex: none;
            width: 85%;
        }
    }
}

@media screen and (max-width: 800px) {
    body {
        max-width: 800px; 
        width: 100%;
    }

    /* responsive navbar */
    .header__bottomnav {
        justify-content: space-between;

        .bottomnav--links {
            display: none;
        }

        .bottomnav--logo {
            flex: none;
        }

        .bottomnav--bars {
            display: block;
            margin-right: 3%;

            .fa-bars{
                font-size: 30px;
                color:white;
            }
        }

        .bottomnav--overlay {
            display: block;
            height: 200%;
            width: 100%;
            position: absolute;
            z-index: 1; 
            right: 0;
            bottom: 0;
            background-color: v.$primary-color; 
            overflow: hidden; 
            transition: 0.5s; 

            li a {
                @include m.font-two;
                text-decoration: none;
                text-transform: uppercase;
                color: v.$font-color;
                display: block; 
                padding: 5px 0;
                text-align: center;
            }

            a:hover, a:focus {
                color: v.$highlight-color;
            }

            .closebtn {
                position: absolute;
                top: 0;
                right: 3%;
                font-size: 20px;
                color: v.$font-color;
            }
        }
    }
    
    /* why choose us for max 800px*/
    .explore {
        flex-wrap: wrap;
    }

    .explore__content {
        max-width: 800px;
        width: 100%;
        height: 60%;
        text-align: center;
        margin: 5%;

        h2 {
            margin-bottom: 3%;
        }

        button {
            margin: auto;
        }
    }
    
    .explore__img {
        max-width: 800px;
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;

        .explore__img--one {
           margin: 0;
           max-width: 49%;
           width: 100%;
        }

        .explore__img--two {
            max-width: 49%;
            width: 100%;
        }
    }

    /* book now section for max 800px */
    .destination__content {
        .destination--text {
            max-width: 50%;
            width: 100%;
        }
    
        .empty {
            display: none;
        }
    }

    /*footer for max 800px */
    .footer__logo {
        max-width: 50%;

        img {
            width: 50%;
        }
    }
}

@media screen and (max-width: 650px)  {
    body {
        max-width: 650px;
        width: 100%;
    }

    .header__logo {
        max-width: 90%;

        img {
            width: 100%;
        }
    }

    .header__search {
        .screen--small {
            display: inline;
            text-align: left;
        }
    
        .screen--large {
            display: none;
        }

        .search-icon {
            @include m.button-style;
            max-width: 25%;
            width: 100%;

            &:hover {
                cursor: pointer;
                filter: saturate(4);
            }
    
            &:active {
                transform: scale(1.1);
            }
        }
    }

    .howitworks {    
        .howitworks__illustration {
            max-width: 95%;
            
            .howitworks__icons {
                @include m.font-two($size:1.3rem);
            }

            .howitworks__background {
                max-width: 70%;
                left: 15%;
            }
        }
    }

    .destination__content {
        .destination--text {
            max-width: 80%;
            width: 100%;
        }
    }

    .testimonial__title {
        h2 {
            font-size: 1.7rem;
        }
    }

    .testimonial__content {
        max-width: 100%;
        
        .testimonial__img {
            min-height: 30%;
            max-width: 100%;
        }
    }
    
    .footer__logo {
        max-width: 70%;

        img {
            width: 70%;
        }
    }

}
