* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  max-width: 1773px;
}

/* Header */
.header {
  background-image: url(/images/header/mountains.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__search {
  max-width: 37%; /*653px*/
  width: 100%;
  border: 0.125rem solid #FFFFFF; /*2px*/
  margin: 6% 0; /*50px*/
}
.header__search input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 0.175rem;
  /*14px, 2.8px*/
  max-width: 75%;
  width: 100%;
  min-height: 63px;
  float: left;
  text-align: center;
  color: #999999;
}
.header__search button {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 0.088rem;
  /*14p, 1.4pxx*/
  text-transform: uppercase;
  background-color: #5474FD;
  color: #FFFFFF;
  max-width: 40%; /*228px*/
  width: 100%;
  min-height: 63px;
  max-width: 25%;
  width: 100%;
  min-height: 63px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__search button i {
  margin-left: 5%;
}

.header__scroll {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 0.175rem;
  /*14px, 2.8px*/
  width: 8%; /*108px*/
  height: 46px;
  text-align: center;
}
.header__scroll a {
  text-decoration: none;
  color: #FFFFFF;
}

.header__bottomnav {
  background-color: #5474FD;
  width: 100%;
  min-height: 10%; /*83px*/
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__bottomnav .bottomnav--logo {
  margin-left: 1%;
}
.header__bottomnav .bottomnav--links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
}
.header__bottomnav .bottomnav--links a {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 3%;
}

/* Section - why choose us */
.explore {
  max-width: 100%;
  height: 685px;
  background-image: url(/images/whyus/castle-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore__content {
  max-width: 32%; /*560px*/
  height: 51%; /*350px*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.explore__content h2 {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  /*36px*/
  color: #FFFFFF;
}
.explore__content p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  color: #E8E8E8;
}
.explore__content button {
  text-transform: uppercase;
  background-color: #5474FD;
  color: #FFFFFF;
  max-width: 40%; /*228px*/
  width: 100%;
  min-height: 63px;
}

.explore__img {
  max-width: 40%;
  min-height: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 2% 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2%; /*10px*/
}

.explore__img > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.explore__img > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.explore__img > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.explore__img > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.explore__img > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.explore__img > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.explore__img > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.explore__img > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.explore__img > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.explore__img > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
.explore__img .explore__img--one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1/2/2/5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.explore__img .explore__img--two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 2/3/3/6;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Section - how it works */
.howitworks {
  max-width: 100%;
  height: 340px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.howitworks .howitworks__illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 57%; /*1050px*/
  width: 100%;
  min-height: 50%; /*170px*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}
.howitworks .howitworks__illustration .howitworks__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  /*36px*/
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.howitworks .howitworks__illustration .howitworks__icons img {
  width: 25%;
  background-color: #333333;
}
.howitworks .background {
  position: absolute;
  top: 15%;
  z-index: 0;
}

/* Setion -- book now */
.destination {
  max-width: 100%;
  height: 1400px;
}

.destination__content {
  max-width: 100%;
  min-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.destination__content .destination--text {
  color: #FFFFFF;
  background-color: #232323;
  opacity: 0.9;
  max-width: 31%; /*540px*/
  width: 100%;
  min-height: 60%; /*371px*/
  padding: 3% 2%; /*50px 30px*/
}
.destination__content .destination--text h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  /*20px*/
}
.destination__content .destination--text h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  /*20px*/
  text-transform: uppercase;
  margin-top: 6%; /*23px*/
}
.destination__content .destination--text p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  margin-top: 3%; /*13px*/
}
.destination__content .destination--text button {
  text-transform: uppercase;
  background-color: #5474FD;
  color: #FFFFFF;
  max-width: 40%; /*228px*/
  width: 100%;
  min-height: 63px;
  margin-top: 12%; /*46px*/
}
.destination__content .empty {
  visibility: hidden;
}

.hotel-one {
  background-image: url(/images/section/madrid-house.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  min-height: 50%;
}

.hotel-two {
  background-image: url(/images/section/madrid-cliff.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
}

/* Section: testimonial */
.testimonial {
  max-width: 100%;
  height: 731px;
  background-image: url(/images/testimonial/backpacker-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__title h2 {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  /*36px*/
  color: #FFFFFF;
}

.testimonial__content {
  background-color: #333333;
  max-width: 63%; /*1113px*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__quote {
  color: #FFFFFF;
  margin: 5% 1% 4% 8%; /*50px 25px 40px 60px*/
}
.testimonial__quote h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  /*20px*/
  text-transform: uppercase;
}
.testimonial__quote p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
}
.testimonial__quote .quote {
  color: #5474FD;
  font-size: 2.25rem;
}

/* footer */
.footer {
  max-width: 100%;
  height: 271px;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__logo {
  max-width: 11%; /*196px*/
}
.footer__logo img {
  width: 100%;
}

.footer__social {
  color: #FFFFFF;
  width: 10%; /*166px*/
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social .fa-linkedin-in {
  color: #5474FD;
}