@use 'variables' as v;

@mixin font-one ($size:1rem, $line:1.625rem) {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1.625rem;
}

@mixin font-two ($size:1rem, $line:1.625rem) {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1.625rem;
}