@use 'variables' as v;

@mixin font-one ($size:1rem, $line:1.625rem, $letter:0.1rem)/*16px, 26px, 1.6px*/ {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: $size;
    line-height: $line;
    letter-spacing: $letter;
}

@mixin font-two ($size:1rem, $line:1.625rem, $letter:0.1rem)/*16px, 26px, 1.6px*/ {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: $size;
    line-height: $line;
    letter-spacing: $letter;
}

@mixin button-style {
    text-transform: uppercase;
    background-color: v.$primary-color;
    color: v.$font-color;
    max-width: 40%; /*228px*/
    width: 100%;
    min-height: 63px;
}